[Desktop Entry]
Name=Start Auto Exp Run
Exec=/home/zerog/Zero_G_Payload/Scripts/start_zero_g_experiment_unit_service.sh
Comment=
Terminal=true
Icon=/home/zerog/Zero_G_Payload/Scripts/Resources/Start_Automatic_Run_Icon.png
Type=Application
